In [95]:
#TOP 5 ARTIST BASED ON FREQUENCY IN TOP200 BILBOARD

In [96]:
import pandas as pd
import numpy as np

In [97]:
db=pd.read_csv("top200Test2.csv")

db2=db[['Artist','Track Name']].copy()
db2['freq'] = db2.groupby('Artist').transform('count')
#db2['freq'] = db2.groupby('Artist')['Track Name'].transform('count')
#db2.to_csv('results.csv')
db4=db2.loc[(db2['freq']>3000)]
db4=db4.sort_values(by=['freq'],ascending=False)
db4

              Artist                    Track Name  freq
29232  Billie Eilish         when the party's over  3785
31181  Billie Eilish        idontwannabeyouanymore  3785
31201  Billie Eilish                       bad guy  3785
72309  Billie Eilish                 bury a friend  3785
31234  Billie Eilish                 bury a friend  3785
...              ...                           ...   ...
44981    Post Malone  Psycho (feat. Ty Dolla $ign)  3516
44989    Post Malone               Congratulations  3516
44995    Post Malone                  I Fall Apart  3516
45003    Post Malone   Goodbyes (Feat. Young Thug)  3516
87392    Post Malone                  I Fall Apart  3516

[7301 rows x 3 columns]

In [98]:
db3=pd.unique(db2['Artist'])
i=0
for o in db3:
    i=i+1
print(str(i))

550